#li-todo {
    list-style-type: none;
    overflow: auto;
}

#li-label {
    /* border: 1px solid black; */
    float: left;
    padding: 2px;
    padding-right: 10px;
}

#but-del-todo {
    float: right;
    margin-top: 2px;
    margin-right: 2px;
    width: 60px;
}